# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/

# OS / editors
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

# Office temp files
~$*
